@font-face {
    font-family: "Stelpolvo Sans";
    src:
        local("Stelpolvo Sans"),
        url("https://fastly.jsdelivr.net/gh/GuoPCinGitHub/StelpolvoSans@main/StelpolvoSans-Regula.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/GuoPCinGitHub/StelpolvoSans@main/StelpolvoSans-Regula.woff2") format("woff2");
}

::selection {
    background: #fff5;
    color: #042e7d;
}

html {
    overflow: hidden;
}

body {
    position: relative;
    background: linear-gradient(130deg, #184ff9, #7e75ee);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background: #FFFA;
    backdrop-filter: blur(5px);
    color: #042e7d;
    font-family: Inter, "LXGW Neo XiHei", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: .2cm;
    z-index: 999;
}

header .button {
    margin: 0 .5em;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1f1ff;
    border-radius: .1cm;
    box-shadow: 0 .1em .3em #f1f1ff;
    font-family: Inter, "LXGW Neo XiHei", sans-serif;
    font-size: 25px;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 85vw;
    max-height: 90%;
    padding: .5em;
    overflow-y: auto;
    z-index: 999;
}

#content.closed {
    display: none;
}

#content.open {
    display: initial;
}

#content > #head {
    position: relative;
}

#content #close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
}

main p {
    font-family: Inter, "LXGW Neo XiHei", sans-serif;
    margin: 0;
}

main p.cl {
    font-family: "Stelpolvo Sans", Inter, "LXGW Neo XiHei", sans-serif;
    font-size: 60px;
    line-height: 80px;
}

main p.en {
    font-size: 40px;
}

label {
    font-family: Inter, "LXGW Neo XiHei", sans-serif;
    font-size: 25px;
    margin-top: 1cm;
    margin-bottom: 0.3cm;
}

input,
div#result {
    background: #cacdfe;
    border: none;
    border-radius: 0.1cm;
    box-shadow: 0 0.1em 0.3em #cacdfe;
    color: #1c2bfc;
    font-size: 25px;
    line-height: 1cm;
    text-align: center;
    transition: all 0.2s ease-out;
    padding: 0.2cm;
    width: 70%;
    min-height: 1cm;
}

input:focus,
div#result:hover,
div#result:focus {
    box-shadow: 0 0.1em 0.7em #f1f1ff;
    background: #f1f1ff;
    outline: none;
    transition: all 0.2s ease-out;
}

div#result {
    font-family: "Stelpolvo Sans", Inter, "LXGW Neo XiHei", sans-serif;
    resize: none;
    white-space: break-spaces;
    word-wrap: break-word;
    overflow-y: auto;
}

input::selection,
#result::selection,
#content *::selection {
    background: #184ff9;
    color: #f1f1ff;
}

input:invalid {
    background: #ffd8d8;
    box-shadow: 0 .1em .7em #ffd8d8;
}

main p.info {
    margin-top: 1.5cm;
    font-size: 20px;
}

a {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.1cm;
    transition: color 0.2s ease-out;
}

a:hover {
    color: #dddfff;
    transition: color 0.2s ease-out;
}

.cirklo-1 {
    position: absolute;
    top: -15cm;
    left: -15cm;
    background: radial-gradient(circle closest-side at center, #055cfb 80%, transparent), transparent;
    width: 30cm;
    height: 30cm;
    z-index: 3;
}

.cirklo-2 {
    position: absolute;
    top: -45cm;
    right: -35cm;
    background: radial-gradient(circle closest-side at center, #7a73e8 70%, transparent), transparent;
    width: 38cm;
    height: 38cm;
    z-index: 4;
}

.cirklo-3 {
    position: absolute;
    bottom: -45cm;
    left: -35cm;
    background: radial-gradient(circle closest-side at center, #5f95fa 70%, transparent), transparent;
    width: 38cm;
    height: 38cm;
    z-index: 1;
}

.cirklo-4 {
    position: absolute;
    bottom: -10cm;
    right: -15cm;
    background: radial-gradient(circle closest-side at center, #6973fd 80%, transparent), transparent;
    width: 30cm;
    height: 30cm;
    z-index: 5;
}

.cirklo-5 {
    position: absolute;
    bottom: -25cm;
    left: 0;
    background: radial-gradient(circle closest-side at center, #246dfb 80%, transparent), transparent;
    width: 30cm;
    height: 30cm;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    p.cl,
    p.en {
        font-size: 1.7rem !important;
    }

    p,
    div,
    label,
    input,
    #content {
        font-size: 1.3rem !important;
    }

    input,
    div#result {
        line-height: 1.3rem;
        min-height: 1.3rem;
    }
}
